<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
<link rel="stylesheet" href="{{ "/assets/css/overrides.css?v=" | append: site.github.build_revision | relative_url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% include head-custom-google-analytics.html %}