// Variables
@import "./lib/variables/colors.scss";

// Mixins
@import "./lib/mixins/fonts.scss";

@import "flexbox";

html, body {
    height: 100%;
    min-width: 430px;

    > div {
        height: 100%;
    }
}

svg {
    width: 1em;
    height: 1em;
}

header.diesoft,
footer.diesoft {
    width: 100%;
    background-color: $diesoft-black;
    color: $diesoft-white;
    @include font-baloo-thambi;

    a {
        color: $diesoft-yellow;
    }
}

header.diesoft {
    > * {
        align-self: center;
        line-height: 0;
    }
}

footer.diesoft {
    font-size: 1.2em;

    a {
        display: inline-block;
        text-decoration: none;
    }

    svg {
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        vertical-align: middle;
        margin-right: .5em;
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.copyright-notice {
    color: $diesoft-gray;
    align-self: center;
}

#body-content {
    flex-grow: 1;
    font-size: 16px;
    @include font-montserrat;

    em {
        font-style: normal;
        font-weight: bold;
        color: $diesoft-blue;
    }

    .markdown-body {
        @include font-montserrat;
    }
}

ul.social {
    align-items: center;
    padding-left: 0;
    list-style-type: none;
    font-size: 1.5em;
    line-height: 0;

    li {
        display: inline-block;
        align-self: center;
        padding-left: .4em;
        padding-right: .4em;
    }

    a {
        display: inline-block;
        align-self: center;
        color: $diesoft-white;
        text-decoration: none;
    }
}

.nemo-banner {
    position: relative;

    .padded {
        position: relative;
        box-sizing: border-box;
        padding: 24%;
    }

    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;

        &.nemo {
            background-image: url("/assets/images/little-nemo/banner-nemo.png");
            background-position: right 23% center;
            background-size: 27%;
        }

        &.hill {
            background-image: url("/assets/images/little-nemo/banner-hill.png");
            background-position: center bottom;
            background-size: 75%;
        }

        &.logo {
            background-image: url("/assets/images/little-nemo/banner-logo.png");
            background-position: left 14% center;
            background-size: 38%;
        }
    }
}

.nemo-banner::after {
    content: "";
    background-image: url("/assets/images/little-nemo/banner-bg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
