// Variables
@import "./lib/variables/colors.scss";
// Mixins
@import "./lib/mixins/fonts.scss";

html, body {
    height: 100%;
    min-width: 300px;

    > div {
        height: 100%;
    }
}

svg {
    width: 1em;
    height: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: $diesoft-black;
}

a {
    color: $diesoft-hotpink;
    text-decoration: underline;
}

a.cta {
    align-self: center;
    background-color: $diesoft-hotpink;
    color: $diesoft-white;
    text-decoration: none;
    padding: 1em 2em;
    font-size: 1.5em;
    border-radius: .5em;
    margin: 1em;
    @include font-baloo-thambi;

    &:hover {
        background-color: $diesoft-hotpink / 1.25;
    }
}

header.diesoft,
footer.diesoft {
    width: 100%;
    background-color: $diesoft-black;
    color: $diesoft-white;
    @include font-baloo-thambi;

    a {
        color: $diesoft-yellow;
    }
}

header.diesoft {
    > * {
        align-self: center;
        line-height: 0;
    }

    img {
        height: 2.5em;
    }
}

footer.diesoft {
    font-size: 1.2em;

    a {
        display: inline-block;
        text-decoration: none;
    }

    svg {
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        vertical-align: middle;
        margin-right: .5em;
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.container-lg img,
.container-md img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.copyright-notice {
    color: $diesoft-gray;
    align-self: center;
}

#body-content {
    flex-grow: 1;
    font-size: 16px;
    @include font-montserrat;

    em {
        font-style: normal;
        font-weight: bold;
        color: $diesoft-blue;
    }

    .markdown-body {
        @include font-montserrat;
    }
}

ul.social {
    align-items: center;
    padding-left: 0;
    list-style-type: none;
    font-size: 1.5em;
    line-height: 0;

    li {
        display: inline-block;
        align-self: center;
        padding-left: .4em;
        padding-right: .4em;
    }

    a {
        display: inline-block;
        align-self: center;
        color: $diesoft-white;
        text-decoration: none;
    }
}

.devlog {
    article {
        display: block;
        border: 1px solid #eee;
        border-radius: .25em;
        padding: 1em 2em;
        margin-top: .5em;
        margin-bottom: .5em;
    }
}

// Media Queries
// The header breaks down about here, so we need to shrink it
@media only screen and (max-width: 430px) {
    header.diesoft {
        font-size: 0.75em;
    }

    footer.diesoft {
        font-size: .8em !important;
    }
}

// Domain specific styles at bottom so they take priority
@import "./lib/youtube.scss";
@import "./lib/nemo.scss";
