---
layout: default
---
<header class="diesoft">
    <span>DIE SOFT</span>
    <ul class="social">
        <li>Email</li>
        <li>Discord</li>
        <li>Twitter</li>
        <li>TikTok</li>
    </ul>
    <nav>
        <ul>
            <li><a href="/">Games</a></li>
            <li><a href ="/blog">Dev Log</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
{{ content }}
<footer class="diesoft">
    <span class="copyright-notice">
        Copyright © DIE SOFT, LLC
    </span>
    <div class="email-signup">
        {% include mce-signup.html %}
    </div>
</footer>