---
layout: default
--- 
<div class="flex-column">
    <header class="diesoft">
        <div class="container-lg px-3 my-1 flex-row">
            <a href="/"><img src="/assets/images/diesoft/header-logo.png" srcset="/assets/images/diesoft/header-logo@2x.png 2x" /></a>
            <div class="flex-filler"></div>
            <ul class="social flex-row">
                <li><a href="{{ site.mailchimp_url }}""><svg fill="currentColor"><use xlink:href="/assets/images/bootstrap-icons-1.8.1/bootstrap-icons.svg#envelope"/></svg></a></li>
                <li><a href="{{ site.discord_url }}"><svg fill="currentColor"><use xlink:href="/assets/images/bootstrap-icons-1.8.1/bootstrap-icons.svg#discord"/></svg></a></li>
                <li><a href="{{ site.twitter_url }}"><svg fill="currentColor"><use xlink:href="/assets/images/bootstrap-icons-1.8.1/bootstrap-icons.svg#twitter"/></svg></a></li>
                <li><a href="{{ site.steam_url }}"><svg fill="currentColor"><use xlink:href="/assets/images/bootstrap-icons-1.8.1/bootstrap-icons.svg#steam"/></svg></a></li>
            </ul>
        </div>
    </header>
    <nav class="site-nav">
        <div class="container-lg px-3 my-0 flex-row">
            <ul class="flex-row">
                <li><a href="/devlog">DevLog</a></li>
                <li><a href="https://drive.google.com/drive/folders/1nzbgOSApIRX2Zk6OJsMvCf6nSgHoXqdY">Press Kit</a></li>
            </ul>
        </div>
    </nav>
    <div id="body-content">
    {{ content }}
    </div>
    <footer class="diesoft">
        <div class="container-lg px-3 my-3 flex-row">
            <a class="py-2" href="{{ site.mailchimp_url }}">
                <svg fill="currentColor"><use xlink:href="/assets/images/bootstrap-icons-1.8.1/bootstrap-icons.svg#envelope"/></svg>
                <span>Sign up for updates!</span>
            </a>
            <div class="flex-filler"></div>
            <a class="py-2" href="mailto:{{ site.contact_email }}">
                <span>Contact us</span>
            </a>
            <div class="flex-filler"></div>
            <span class="copyright-notice">
                Copyright © DIE SOFT, LLC
            </span>
        </div>
    </footer>
</div>